{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if find_mode == 'id' %}
    <h5 class="border-bottom my-3 pb-2">아이디 찾기</h5>
    {% else %}
    <h5 class="border-bottom my-3 pb-2">비밀번호 찾기</h5>
    {% endif %}
    <form method="post">
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}
        <div class="mb-3">
            {% if find_mode == 'password' %}
            <label for="username">아이디</label>
            <input type="text" class="form-control mb-3" name="username" id="username" value="{{ form.username.data or '' }}">
            {% endif %}
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email" value="{{ form.email.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>
{% endblock %}
