{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-1">
            <a href="{{ url_for('question.create') }}" class="btn btn-primary">글쓰기</a>
        </div>
        <div class="col-5 d-flex align-items-center">
            <div class="btn-group">
                <a data-category="" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if not category }}" href="javascript:void(0)">전체</a>
                <a data-category="NOTICE" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'NOTICE' }}" href="javascript:void(0)">공지</a>
                <a data-category="FREE" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'FREE' }}" href="javascript:void(0)">자유</a>
                <a data-category="QUESTION" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'QUESTION' }}" href="javascript:void(0)">질문</a>
                <a data-category="INFORMATION" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'INFORMATION' }}" href="javascript:void(0)">정보</a>
                <a data-category="BOAST" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'BOAST' }}" href="javascript:void(0)">비틱</a>
                <a data-category="SUGGESTION" class="category-btn btn btn-sm btn-outline-primary {{ 'active' if category == 'SUGGESTION' }}" href="javascript:void(0)">건의</a>
            </div>
        </div>
        <div class="col-sm">
            <div class="btn-group">
                <a data-per_page="10" class="per_page-btn btn btn-outline-primary {{ 'active' if per_page == 10 }}" href="javascript:void(0)">10개</a>
                <a data-per_page="20" class="per_page-btn btn btn-outline-primary {{ 'active' if per_page == 20 }}" href="javascript:void(0)">20개</a>
                <a data-per_page="30" class="per_page-btn btn btn-outline-primary {{ 'active' if per_page == 30 }}" href="javascript:void(0)">30개</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th>카테고리</th>
            <th class="col-7">제목</th>
            <th class="col-2">글쓴이</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>추천</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list.items %}
        <tr class="text-center">
            <td>{{ question_list.total - ((question_list.page - 1) * question_list.per_page) - loop.index0 }}</td>
            <td>{{ question.category.category_text }}</td>
            <td class="text-start" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 0px;">
                <a class="a-none-deco" href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                {% if question.answer_set|length > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set|length }}</span>
                {% endif %}
            </td>
            <td class="col-sm-2">
                <a href="#" class="a-none-deco">{{ question.user.nickname }}</a>
            </td>
            <td>{{ question.create_date|datetime }}</td>
            <td>{{ question.num_views }}</td>
            <td>{{ question.num_voter }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이징 처리 Start -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if question_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" data-page="{{ question_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="javascript:void(0)" class="page-link" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        {% endif %}

        <!-- 페이지 목록 -->
        {% for page_num in question_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != question_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% else %}
        <!-- 현재 페이지 링크 비활성화 -->
        <li class="page-item active" aria-current="page">
            <a href="javascript:void(0)" class="page-link" style="pointer-events: none;">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else%}
        <li class="disabled">
            <a href="javascript:void(0)" class="page-link">...</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_num }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="javascript:void(0)" class="page-link" tabindex="-1" aria-disabled="true">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 End -->

    <!-- 검색창 -->
    <div class="d-flex justify-content-center">
        <div class="input-group w-25">
            <input type="text" id="search_kw" class="form-control mx-2" value="{{ kw or '' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
</div>
<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="per_page" name="per_page" value="{{ per_page }}">
    <input type="hidden" id="category" name="category" value="{{ category }}">
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});

const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1; // 검색 버튼을 클릭할 경우 1페이지부터 조회
    document.getElementById('searchForm').submit();
});

const category_elements = document.getElementsByClassName("category-btn");
Array.from(category_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('category').value = this.dataset.category;
        document.getElementById('page').value = 1; // 카테고리 버튼을 클릭할 경우 1페이지부터 조회
        document.getElementById('searchForm').submit();
    });
});

const per_page_elements = document.getElementsByClassName("per_page-btn");
Array.from(per_page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = 1; // 카테고리 버튼을 클릭할 경우 1페이지부터 조회
        document.getElementById('per_page').value = this.dataset.per_page;
        document.getElementById('searchForm').submit();
    });
});
</script>
{% endblock %}
