{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="category">카테고리</label>
            <select class="form-select" name="category_type" id="category_type">
                <option value="NOTICE" {% if form.category_type.data == "NOTICE" %}selected{% endif %}>공지</option>
                <option value="FREE" {% if form.category_type.data == "FREE" %}selected{% endif %}>자유</option>
                <option value="QUESTION" {% if form.category_type.data == "QUESTION" %}selected{% endif %}>질문</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="20" placeholder="ㅈㄱㄴ">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
