{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        {% include 'form_errors.html' %}
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="category">카테고리</label>
            <select class="form-select" name="category_type" id="category_type">
                <option value="FREE" {% if form.category_type.data == "FREE" %}selected{% endif %}>자유</option>
                <option value="QUESTION" {% if form.category_type.data == "QUESTION" %}selected{% endif %}>질문</option>
                <option value="INFORMATION" {% if form.category_type.data == "INFORMATION" %}selected{% endif %}>정보</option>
                <option value="BOAST" {% if form.category_type.data == "BOAST" %}selected{% endif %}>비틱</option>
                <option value="SUGGESTION" {% if form.category_type.data == "SUGGESTION" %}selected{% endif %}>건의</option>
                <option value="NOTICE" {% if form.category_type.data == "NOTICE" %}selected{% endif %}>공지</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="summernote" rows="20" placeholder="ㅈㄱㄴ">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
        <input type="hidden" name="upload_images" id="upload_images" value="">
    </form>
</div>
{% endblock %}

{% block script %}
<script>
function uploadImage(file, editor, welEditable) {
    var data = new FormData();
    data.append("image", file);

    $.ajax({
        url: "/question/upload",
        cache: false,
        contentType: false,
        processData: false,
        data: data,
        type: "POST",
        success: function(filename) {
            var image = $('<img>').attr('src', "{{ url_for('static', filename='images/temp/') }}" + filename).addClass("img-fluid");
            $('#summernote').summernote("insertNode", image[0]);
            document.getElementById('upload_images').value += filename + "|";
        },
        error: function(data) {
            console.log(data);
        }
    });
}

var marqueeButton = function(context) {
    var ui = $.summernote.ui;

    var button = ui.button({
        contents: '<MARQUEE>움직이는 글자!!</MARQUEE>',
        tooltip: '움직이는 글자!!',
        click: function () {
            context.invoke('editor.pasteHTML', '<MARQUEE>움직이는 글자!!</MARQUEE>');
        }
    });

    return button.render();
}

$(document).ready(function() {
    $('#summernote').summernote({
        placeholder: 'ㅈㄱㄴ',
        height: 600,
        focus: true,
        lang: "ko-KR",
        toolbar: [
            // [groupName, [list of button]]
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            ['color', ['forecolor','color']],
            ['table', ['table']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert',['picture','link','video']],
            ['view', ['codeview', 'help']],
            ['mybutton', ['marquee']]
        ],
        buttons: {
            marquee: marqueeButton
        },
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
        fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
        callbacks: {
            onImageUpload: function(files, editor, welEditable) {
                uploadImage(files[0], editor, welEditable);
            }
        }
    });
});
</script>
{% endblock %}
